
@{
    ViewBag.Title = "PersonalData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personal Data</h2>
<div class="row">
    <div class="col-md-6" id="addressContainer">
        @Html.Partial("_AddressForm")
    </div>
</div>