
<div class="container">
    <div class="navbar-mid">
        <form class="form-inline">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Personal Data", "PersonalData", "Account", new { area = "" }, new { @class = "navbar-brand" })
                </li>
                <li>
                    @Html.ActionLink("Verify Account", "Verification", "Account", new { area = "" }, new { @class = "navbar-brand" })
                </li>
            </ul>
        </form>
    </div>
</div>
